## Importing Libraries \ Modules

In [16]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score 
from sklearn.metrics import confusion_matrix
from sklearn import neighbors 
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.naive_bayes import *

In [17]:
data = pd.read_csv('train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [19]:
data.shape

(889, 12)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.5+ KB

In [21]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

## Since Column - Cabin has more than 70% NULL Values, we drop this column
   Also we drop other irrelevant columns -- Ticket, Name

In [22]:
data1=data.drop(['Cabin', 'Ticket','Name'], axis=1)
data1.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

## We convert Object (Text) Variables to Binary Variables

In [23]:
enc = preprocessing.LabelEncoder()
data1['Sex'] = enc.fit_transform(data1.Sex)
data1['Embarked'] = enc.fit_transform(data1.Embarked)

In [24]:
data1.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

##  Naive Bayes

## Naive Bayes is used to classify Record with the help of Probability
   It is only applicable for Categorical variables.

   We are predicting Accuracy and Confusion Matrix for Categorical Variables  : --  Survived, Pclass, Sex, SibSp, Parch, 
                                                                                    Embarked

In [27]:
def prediction(col):
    
    clf = BernoulliNB()

    for i in col:
        x = data1.drop([i], axis=1)
        print("####################################################################################")
        print("                                                                                    ")
        print(f"Here Dependent Variable is {i} & remaining are Independent Variables")
        print("x :\n", x.head())
        y = data1[i]
        print("\ny:\n", y.head())
    
        x_train, x_test, y_train, y_test = train_test_split(x, y, test_size =0.3, random_state=0)
        model = clf.fit(x_train,y_train)
        pred = model.predict(x_test)
    
        print(f"\nAcuuracy for {i} is: ", accuracy_score(y_test, pred, normalize=True))
        print(f"Confusion matrix for {i} is \n", confusion_matrix(y_test, pred))
        print("                                                                                    ")

col = ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Embarked']        
prediction(col)

####################################################################################

Here Dependent Variable is Survived & remaining are Independent Variables
x :
    PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1       3    1  22.0      1      0   7.2500         2
1            2       1    0  38.0      1      0  71.2833         0
2            3       3    0  26.0      0      0   7.9250         2
3            4       1    0  35.0      1      0  53.1000         2
4            5       3    1  35.0      0      0   8.0500         2

y:
 0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Acuuracy for Survived is:  0.7715355805243446
Confusion matrix for Survived is
 [[131  26]
 [ 35  75]]

####################################################################################

Here Dependent Variable is Pclass & remaining are Independent Variables
x :
    PassengerId  Survived  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0    1  22.0      1      0   7.2500         2
1            2         1    0  38.0      1      0  71.2833         0
2            3         1    0  26.0      0      0   7.9250         2
3            4         1    0  35.0      1      0  53.1000         2
4            5         0    1  35.0      0      0   8.0500         2

y:
 0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

Acuuracy for Pclass is:  0.5917602996254682
Confusion matrix for Pclass is
 [[ 30   8  32]
 [  9  10  30]
 [ 24   6 118]]

####################################################################################

Here Dependent Variable is Sex & remaining are Independent Variables
x :
    PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  Embarked
0            1         0       3  22.0      1      0   7.2500         2
1            2         1       1  38.0      1      0  71.2833         0
2            3         1       3  26.0      0      0   7.9250         2
3            4         1       1  35.0      1      0  53.1000         2
4            5         0       3  35.0      0      0   8.0500         2

y:
 0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: int32

Acuuracy for Sex is:  0.7453183520599251
Confusion matrix for Sex is
 [[ 49  49]
 [ 19 150]]

####################################################################################

Here Dependent Variable is SibSp & remaining are Independent Variables
x :
    PassengerId  Survived  Pclass  Sex   Age  Parch     Fare  Embarked
0            1         0       3    1  22.0      0   7.2500         2
1            2         1       1    0  38.0      0  71.2833         0
2            3         1       3    0  26.0      0   7.9250         2
3            4         1       1    0  35.0      0  53.1000         2
4            5         0       3    1  35.0      0   8.0500         2

y:
 0    1
1    1
2    0
3    1
4    0
Name: SibSp, dtype: int64

Acuuracy for SibSp is:  0.6891385767790262
Confusion matrix for SibSp is
 [[162  20   0   0   0   0   0]
 [ 43  22   0   0   0   0   0]
 [  6   2   0   0   0   0   0]
 [  5   2   0   0   0   0   0]
 [  2   0   0   0   0   0   0]
 [  1   0   0   0   0   0   0]
 [  2   0   0   0   0   0   0]]

####################################################################################

Here Dependent Variable is Parch & remaining are Independent Variables
x :
    PassengerId  Survived  Pclass  Sex   Age  SibSp     Fare  Embarked
0            1         0       3    1  22.0      1   7.2500         2
1            2         1       1    0  38.0      1  71.2833         0
2            3         1       3    0  26.0      0   7.9250         2
3            4         1       1    0  35.0      1  53.1000         2
4            5         0       3    1  35.0      0   8.0500         2

y:
 0    0
1    0
2    0
3    0
4    0
Name: Parch, dtype: int64

Acuuracy for Parch is:  0.7153558052434457
Confusion matrix for Parch is
 [[182  16   0   0   0]
 [ 31   9   0   0   0]
 [ 24   3   0   0   0]
 [  1   0   0   0   0]
 [  1   0   0   0   0]]

####################################################################################

Here Dependent Variable is Embarked & remaining are Independent Variables
x :
    PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    1  22.0      1      0   7.2500
1            2         1       1    0  38.0      1      0  71.2833
2            3         1       3    0  26.0      0      0   7.9250
3            4         1       1    0  35.0      1      0  53.1000
4            5         0       3    1  35.0      0      0   8.0500

y:
 0    2
1    0
2    2
3    2
4    2
Name: Embarked, dtype: int32

Acuuracy for Embarked is:  0.7340823970037453
Confusion matrix for Embarked is
 [[  0   0  49]
 [  0   0  22]
 [  0   0 196]]